body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2em;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf; 
    
}
h2{
    font-family:'Montserrat',sans-serif ;
    font-size: 2.5rem;
    color: #66bfbf; 
    font-weight: normal;
}
h3{
    font-family:'Montserrat',sans-serif ;
    color: #11999e;
}

.top-container{
    
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}


.pro{
    text-decoration: underline;
}
.above-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px ;
}
.profile-pic{
    clip-path: circle(30.7% at 50% 50%);
}
.comp{
    clip-path: circle(46.5% at 50% 54%);
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 1.5;
}
.chilles{
    width: 30%;
    float: right;
    margin-left: 17px;
}

